<div id="milkshake-dashboard">
<h2>Logged in as <%= session[:user] %></h2>
<ul class="milkshake-buttons">
<li><a href="/new/page">+ Page</a></li>
<li><a href="/pages">Pages</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</div>
