<div id="dashboard">
<ul class="buttons">
<li><a href="/new/page">+ Page</a></li>
<li><a href="/pages">Pages</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
<h2>Logged in as <%= session[:user] %></h2>
</div>
