<div id="milkshake-dashboard">
<h2>Logged in as <strong><%= session[:user] %></strong> <a href="/logout">(Logout)</a></h2>
<ul class="milkshake-buttons">
<li><a href="/pages">Pages</a></li>
<li><a href="/snippets">Snippets</a></li>
</ul>
</div>
