<h1>Site Map</h1>
<% if @pages %>
<ul id="pages" class="pages">

<% @pages.each do |page| %>
<%= erb(:'milkshake/_page',{:layout=>false},{:page=>page}) %>
<% end %>
</ul>
<% else %>
<P>There are no pages yet!</p>
<% end %>

