<form action="/login" method ="post" class="milkshake-login">
<label for="name">Username:</label>
<input type="text" name="user[name]" id="name">
<label for="password">Password:</label>
<input type="password" name="user[password]" id="password">
<input type="submit" value="Login">
</form>
