<h2><%= @page.title %><h2>
<h3>Are you sure you want to delete this page?<h3>
<form action="/page/<%= @page.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Delete" class="submit-button">
</form>

<%= link_to "/admin","Cancel" %>
