<!DOCTYPE html>
<html lang="en">
<head>
<title>Quack!</title>
<meta charset=utf-8 />
<style>
form{font-family:arial;}
input{font-size:2em;}
label,.submit-button{display:block;}
</style>
</head>
<body>

<%= yield %>

</body>
</html>
