<!DOCTYPE html>
<html lang="en">
<head>
<title>Milkshake!</title>
<meta charset=utf-8 />
<style>
form{font-family:arial;}
input{font-size:2em;}
label,.submit-button{display:block;}
</style>
</head>
<body>
<div id="header">
<h1>Milkshake!</h1>
<%= navmenu %>
</div>

<%= yield %>

</body>
</html>
