<!DOCTYPE html>
<html lang="en">
<head>
<title>Milkshake!</title>
<meta charset=utf-8 />
<style>
#page_info{float:right;width:28%}
form{font-family:arial;width:70%;float:left;}
legend{display:none;}
fieldset{border:none;margin:0;padding:0;}
input{font-size:2em;}
label{font-size:1.4em;color:#999;}
label.hidden{display:none;}
textarea{display:block;width:100%;}
</style>
</head>
<body>
<div id="header">
<h1>Milkshake!</h1>
<%= navmenu %>
</div>

<%= yield %>

</body>
</html>
