.buttons{overflow:hidden;list-style:none; solid;margin:0;padding:0;
zoom:1;display:relative;width:auto;}
.buttons li{float:left;margin-right:10px;}
.buttons a,.buttons a:link,.buttons a:visited,input.button
{background:#6cf url(images/button.png) 0 50% repeat-x;color:#fff;
display:inline-block;
padding:6px 8px;margin:0;
font-weight:bold;font-size:14px;text-decoration:none;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:none;
}
.buttons a:hover,input.button:hover
{background:#9cf url(images/button.png) 0 50% repeat-x;color:#fff;
text-decoration:none;}




/* general */
body{font-family:arial,sans-serif;color:#333;}

/* pages */
.pages{border:#66b6da solid 1px;border-top:none;background:#e3f1ff;list-style:none;margin:0;padding:0;width:600px;}

.pages ul{border-left:#66b6da solid 1px;}

.pages li{list-style:none;border-top:#66b6da solid 1px;margin:0;padding:5px 0 0 10px;line-height:1;clear:both;overflow:hidden;}

.pages li ul{margin:0;padding:0;
clear:both;width:100%;}

.pages a{font-size:18px;float:left;}
.pages a,.pages a:link,.pages a:visited{color:#39c;text-decoration:none;}
.pages a:hover{text-decoration:underline;}

.status{background:#9cf;color:#fff;
text-transform:uppercase;font-size:9px;
margin:0 5px;padding:5px;
float:left;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.pages .buttons{overflow:hidden;float:right;margin-bottom:5px;}
.pages .buttons a,.edit-buttons a:link,.edit-buttons a:visited
{background:#fff;color:#6cf;
border:#9ff solid 1px;
margin:0 5px;padding:5px;
font-weight:bold;font-size:10px;text-decoration:none;
display:block;float:left;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pages .buttons a:hover{background:#6Cf;color:#fff;
text-decoration:none;}

/* forms */
legend{display:none;}
fieldset{margin:0;padding:0;width:66%;float:left;border:none;}
#title{width:70%;}
input{font-size:20px;}
label{font-size:12px;color:#999;font-weight:bold;}
label.hidden{display:none;}
textarea{display:block;width:100%;font-size:14px;}
select{font-size:14px;width:auto;}
a.cancel,a:link.cancel,a:visited.cancel{color:#666}

fieldset#page-info{float:right;width:30%;background:#e3f1ff;color:#0896d5;padding:10px 1%;font-size:12px;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
fieldset#page-info label{color:#0896d5;display:block;margin:6px 0;}
fieldset#page-info a,#page-info a:link,#page-info a:visited{color:#0896d5;}
fieldset#page-info p{font-size:10px;margin:0;float:right;}

form#login{margin:30px 0;}
form#login input{font-size:14px;}

/* dashboard */
#dashboard
{background:#e3f1ff;color:#ccc;
margin-bottom:40px;padding:10px;
overflow:hidden;}

#dashboard h2{margin:0 0 10px 0;padding:0;font-size:24px;color:#0896d5;}
