/* general */
body{font:62.5%/2 "Nimbus Sans L", helvetica,arial,sans-serif;color:#333;}
#header h1{font-size:6em;font-family: "URW Gothic L","Century Gothic",Verdana,sans-serif;text-transform:lowercase;font-weight:bold;letter-spacing:-0.05em;line-height:1;margin:0;padding:0;color:#f78bf7;}

/* pages */
#pages{width:60%;border:#ccc solid 1px;border-top:none;}
.pages{background:#eee;list-style:none;margin:0;padding:0;}
.page a{font-size:1.8em;float:left;text-indent:0.5em;}
.page a,.page a:link,.page a:visited{color:#39c;text-decoration:none;}
.page a:hover{text-decoration:underline;}

.draft{background:#ccc;color:#fff;
margin-left:2em;padding:0.5em;
float:left;
-webkit-border-radius:0.5em;-moz-border-radius:0.5em;border-radius:0.5em;}

.page{list-style:none;border-top:#ccc solid 1px;margin:0;padding:0.5em 0;padding-right:0;line-height:1;clear:both;overflow:hidden;}

.page .pages{margin:0;padding:0;clear:both;position:relative;top:0.5em;}
.page .pages .page{padding-left:2em;}

.edit-buttons{overflow:hidden;float:right;}
.edit-buttons a,.edit-buttons a:link,.edit-buttons a:visited
{background:#fff;color:#999;
margin:0 1em;padding:0.5em;text-indent:0;
font-weight:bold;font-size:1.2em;text-decoration:none;
display:block;float:left;
border:#6cf solid 1px;
-webkit-border-radius:0.5em;-moz-border-radius:0.5em;border-radius:0.5em;}
.edit-buttons a:hover{background:#39c;color:#fff;
text-decoration:none;}

/* forms */
form{}
legend{display:none;}
fieldset{margin:0;padding:0;width:66%;float:left;border:none;}
#title{width:70%;}
input{font-size:4em;}
input.submit-button{font-size:2em;}
label{font-size:1.6em;color:#999;}
label.hidden{display:none;}
textarea{display:block;width:100%;font-size:2.4em;}
select{font-size:2em;width:80%;}
a.cancel,a:link.cancel,a:visited.cancel{color:#666}

#page-info{float:right;width:30%;background:#39c;color:#fff;padding:1em 1%;}
#page-info label{color:#fff;display:block;}
#page-info a,#page-info a:link,#page-info a:visited{color:#fff;}

/* dashboard */
#dashboard
{background:#444;color:#ccc;
margin-bottom:4em;padding:1em 1em 0;
overflow:hidden;}

#dashboard a,#dashboard a:link
{background:#fff;color:#999;
padding:0 1em;margin:0 0.5em;
font-size:1.4em;text-decoration:none;
float:left;}

#dashboard a:hover
{color:#39c;
text-decoration:none;}

/* navigation tabs */
ul.tabs
{list-style:none outside;background:#39c;font-size:1.4em;
border-left:#4ad solid 1px;
overflow:hidden;zoom:1;display:relative;
margin:0;padding:0;width:auto;}

ul.tabs li
{background:#39c;color:#fff;line-height:2.4;
float:left;padding: 0 1em;border-right:#4ad solid 1px;}

ul.tabs li a:link,ul.tabs li a, ul.tabs li a:visited
{text-decoration:none;background:#39c;color:#fff;
display:inline-block;width:100%;
padding: 0 1em;margin: 0 -1em;}

ul.tabs li a:hover
{text-decoration:none;
background:#5be;color:#fffff3;}
/* Add a class of 'vertical' or 'v' to make the tabs vertical*/
ul.tabs.vertical li,ul.tabs.v li
{clear:left;display:block;width:100%;_margin:0;_padding:0;}
ul.tabs.vertical li a,ul.tabs.vertical li a:link,ul.tabs.vertical li a:visited,
ul.tabs.v li a,ul.tabs.v li a:link,ul.tabs.v li a:visited
{display:block;_text-indent:1em;_margin:0;_padding:0;}

/* footer */
#footer{background:#444;color:#ccc;
margin-top:4em;padding:2em;
clear:both;}
#footer a,#footer a:link,#footer a:visited{color:#ccc;}
#footer a:hover{background:#ccc;color:#222;}
